on: [push]

jobs:
  test:
    if: "!contains(github.event.head_commit.message, 'skip ci')"
    name: ${{ matrix.os }} ${{ matrix.phpv }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: ["centos:7", "ubuntu:18.04", "ubuntu:20.04", "debian:9", "debian:10", "debian:11"]
        phpv: ["PHP 5.6.40", "PHP 7.0.33", "PHP 7.1.33", "PHP 7.2.34", "PHP 7.3.33", "PHP 7.4.32", "PHP 8.0.23", "PHP 8.1.10"]
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: Runner CPU Info
        run: cat /proc/cpuinfo
      - name: Shellcheck analysis
        run: |
          sudo apt-get install -y shellcheck
          shellcheck versions.sh
          shellcheck -x php-compiler.sh
      - name: Build
        run: |
          phpvs="${{ matrix.phpv }}"
          phpvs="php${phpvs:4:1}${phpvs:6:1}"
          echo ${{ matrix.os }}
          echo $phpvs
          sed -e "s/&&OS&&/${{ matrix.os }}/g" ./Dockerfile.actions | sed -e "s:&&PHPVL&&:${{ matrix.phpv }}:g" | sed -e "s:&&PHPVS&&:${phpvs}:g" | tee Dockerfile
          docker build -t sergix44/ispc-phpcompiler .
